body {
  font-weight: 200;
  background-color: rgb(78, 60, 60);
}

header a,
footer a {
  color: white;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: rgb(121, 99, 99) !important;
  border: inherit;
}